.div-main-add-new-user {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  overflow-x: hidden;
  z-index: 0;
}

.form-add-new-user {
  width: 96%;
  margin: 0 auto;
  padding-top: 3%;

}
.div-sub-add-new-user-button-area{
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  margin: 3% auto;
  justify-content: center;
  align-items: center;
  
}
.div-sub-add-new-user-button-area button{
  margin: 3% ;
}

.div-sub-add-new-user-functions-area {
  margin-top: 5%;
}

.div-sub-add-new-user-checkbox-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  height: max-content;
  background-color: #ffff;
  border-radius: 15px;
  gap: 20px;
}


@media only screen and (max-width: 1024px) {
  .div-sub-add-new-user-checkbox-area {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 90%;
  }
  .div-sub-add-new-user-data{
    width: 96%;
    display: flex;
    align-self: center;
  }
}

/* CONTAINER PERSONALIZADO  */



