.div-main-FunctionalitiesCommon {
  font-family: NotoSans-Regular;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  width: 100%;
}

.iframe-function {
  height: 70vh;
  width: 100%;
  /* background: url(../../../../Assets/Loading.gif) center center no-repeat;
  background-size: 150px; */
}


.div-sub-questions {
  display: flex;
}

.section-quests-links img {
  margin: 3%;
  width: 40px;
}

.section-quests-links a:hover {
  text-decoration: underline;
}

.section-quests-links {
  margin: 3%;
  width: 60%;
}


@media only screen and (max-width:1024px) {}