.div-main-FunctionalitiesCommon {
  font-family: NotoSans-Regular;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  width: 100%;
}

.iframe-function {
  height: 70vh;
  width: 100%;
  /* background: url(../../../../Assets/Loading.gif) center center no-repeat;
  background-size: 150px; */
}

.div-inputs {
  width: 50%;
  margin: 0 auto;
}

.div-inputs input {
  margin: 3%;
}