.div-main-gerenciarUsuarios {
  padding: 3em;
  position: relative;
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  height: auto;
  animation-name: pageview;
  animation-duration: 400ms;
}
