.div-main-home {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.div-img-home {
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
}
.div-img-home img {
  width: 50%;
  align-self: center;
}
.button-recadastrar {
  margin: 1em auto;
}
.div-text-home {
  margin: 3%;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .div-img {
    left: 0;
    top: 0;
    right: 0;
    margin: 1rem auto;
    position: inherit;
    width: 98%;
  }
  .div-text {
    margin: 1rem auto;
    left: 0;
    top: 0;
    right: 0;
    width: 98%;
    position: inherit;
  }
  .div-main-home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
  }
  .div-main-home img {
    width: 90%;
    margin-top: 2em;
  }
}
