.div-main-perfil {
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  animation-name: pageview;
  animation-duration: 400ms;
  margin: 5%;
  height: 100%;
  justify-content: center;
}
