.div-main-update-register {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  width: 100%;
  font-family: NotoSans-Regular;
}
.form-update-register{
  width: 96%;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;

}