.div-main-field{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4% auto;
}

.div-sub-into-field {
  cursor: pointer;
  display: flex;
  margin: 1% auto;
  width: 60px;
  height: 60px;
  background-color: #e1e1e1;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  color: #ffff;
  transition: 300ms;
}
.activeSphere {
  transition: 300ms;
  display: flex;
  margin: 1% auto;
  width: 80px;
  height: 80px;
  background-color: #38C6AE;
  text-align: center;
  align-items: center;
}

.border-division {
  position: absolute;
  width: 80%;
  background-color: #f1f1f1;
  height: 2px;
  display: flex;
  left: 10%;
  z-index: -1;
  align-items: center;
  margin-top: 18%;
}


.label-sub-field {
  display: flex;
  color: #414141;
  position: relative;
  top: 3vh;
}

