.div-main-add-new-user {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  overflow-x: hidden;
}

.form-add-new-user {
  width: 96%;
  margin: 0 auto;
  padding-top: 3%;

}
.div-sub-add-new-user-button-area{
  display: flex;
  width: 100%;
}
.form-add-new-user button {
  margin: 3% auto;
}

.div-sub-add-new-user-input-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 2%;
  margin: 0 auto;
}

.div-sub-add-new-user-functions-area {
  margin-top: 5%;
}

.div-sub-add-new-user-checkbox-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  height: max-content;
  background-color: #ffff;
  border-radius: 15px;
  gap: 20px;
}

/* CONTAINER PERSONALIZADO  CHECKBOX */

.GENERAL-CHECKBOX-CLASS {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 15px;
}

.GENERAL-CHECKBOX-CLASS input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 7px;
  background-color: #eee;
}

.GENERAL-CHECKBOX-CLASS:hover input~.checkmark {
  background-color: #ccc;
}

.GENERAL-CHECKBOX-CLASS input:checked~.checkmark {
  background-color: #25b099;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.GENERAL-CHECKBOX-CLASS input:checked~.checkmark:after {
  display: block;
}

.GENERAL-CHECKBOX-CLASS .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media only screen and (max-width: 1024px) {
  .div-sub-add-new-user-input-area {
    display: flex;
    flex-direction: column;
  }
  .div-sub-add-new-user-checkbox-area {
    display: flex;
    flex-direction: column;
    height: max-content;
  }
}

/* CONTAINER PERSONALIZADO  */

.NAME-FIELD-CLASS {
  grid-area: 1/1/1/5;
}

.USER-FIELD-CLASS {
  grid-area: 1/5/1/7;
}

.DEPARTMENT-FIELD-CLASS {
  grid-area: 2/5/2/7;
}

.TELPHONE-FIELD-CLASS {
  grid-area: 2/1/2/3;
}

.CELPHONE-FIELD-CLASS {
  grid-area: 2/3/2/5;
}

.PASSWORD-FIELD-CLASS {
  grid-area: 3/1/3/4;
}

.CONFIRMPASSWORD-FIELD-CLASS {
  grid-area: 3/4/3/7;
}

.EMAIL-FIELD-CLASS {
  grid-area: 4/1/4/4;
}

.CONFIRMEMAIL-FIELD-CLASS {
  grid-area: 4/4/4/7;
}