.div-main-perfil {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  width: 100%;
  overflow-x: hidden;
}

.form-adjusts-use {
  width: 96%;
  margin: 0 auto;
  padding-top: 3%;
}

.div-sub-adjusts-user-button-area {
  display: flex;
  width: 100%;
}

.form-adjusts-use button {
  margin: 10% auto;
}
