.div-main-primeiro-acesso {
  font-family: NotoSans-Regular;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 10vh;
  height: auto;
  width: 100%;
}

.div-form-primeiro-acesso {
  display: flex;
  width: auto;
  position: relative;
  background-color: white;
  justify-content: center;
}

.div-form-primeiro-acesso form {
  width: 70%;
  position: relative;
  background-color: white;
}

.div-img-primeiro-acesso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: auto;
}

.div-img-primeiro-acesso img {
  width: 75%;
  align-self: center;
}

.div-button-form-primeiro-acesso {
  width: 100%;
  margin: 5% auto;
}

@media only screen and (max-width: 1024px) {
  .div-main-primeiro-acesso {
    width: 100%;
    align-self: center;
    align-content: center;
    display: flex;
    flex-direction: column;
  }
  .div-img-primeiro-acesso img {
    width: 100%;
  }
  .div-img-primeiro-acesso {
    width: 100%;
    display: flex;
  }
  .div-form-primeiro-acesso {
    width: 100%;
  }
  .div-form-primeiro-acesso form {
    align-self: center;
    width: 90%;
  }
}