.div-main-help h4 {
    color: #474747;
    font-weight: lighter;
}

.div-main-help {
    font-family: NotoSans-Regular;
    display: grid;
    margin-top: 9vh;
    min-height: 80vh;
}

.div-sub-help {
    margin-left: 3%;
}

.div-sub-main-help {
    margin-bottom: 5%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}

.div-sub-img-help img {
    width: 25%;
    animation-name: suport-help;
    animation-iteration-count: infinite;
    animation-duration: 600ms;
    animation-direction: alternate;
}

.div-sub-img-help {
    display: flex;
    width: 30%;
    justify-content: center;
    border-right: 2px solid #f1f1f1;
}

.div-sub-txt-help {
    display: flex;
    width: 70%;
    margin: 3%;
    flex-direction: column;
}

@keyframes suport-help {
    to {
        width: 23%;
    }
}

@media  only screen and (max-width:1024px) {
    .div-sub-main-help {
        margin-bottom: 5%;
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        width: 96%;
    }
    .div-sub-img-help img {
        width: 100px;
        animation-name: none;
 
    }
    .div-sub-txt-help {
        display: flex;
        width: 100%;   
        flex-direction: column;
        align-items: center;
    }
    .div-sub-img-help {
        display: flex;
        width: 100%;
        justify-content: center; 
        border: none;
    }

    
}