footer {
  font-family: NotoSans-Regular;
  justify-content: center;
  border-top: solid 1px #dcdcdc;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #474747;
  width: 100%;
  height: 10vh;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: -1;

}
.paragraph {
  font-size: 0.8rem;
  font-style: italic;
  margin: auto 1rem;
}
.footer-img {
  width: 8em;
  margin: auto 1rem;
}
@media only screen and (max-width: 900px) {
  .footer-img {
    width: 3em;
  }
}
