.div-main-hamburguer {
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 9999;
  margin: auto 0.6em;
  cursor: pointer;
}
.div-main-hamburguer div {
  transition: 300ms;
  margin: 2px;
  background-color: #25b099;
  width: 100%;
  height: 25%;
  border-radius: 5px;
}

.div-sub-1-animate {
  transform: rotate(45deg) translate3d(15px, 9px, 0);
}

.div-sub-2-animate {
  transform: rotate(-45deg) translate3d(0px, 5px, 0);
}
.div-sub-3-animate {
  opacity: 0%;
}

@media only screen and (min-width: 1024px) {
  .div-main-hamburguer {
    display: none;
  }
}
