.Header {
  background-color: #ffff;
  display: flex;
  flex-direction: row;
  width: 100vw;
  border-bottom: solid 1px #dcdcdc;
  z-index: 99;
  height: 10vh;
  position: fixed;
  align-items: center;
}
.div-img-logotipo a {
  margin: 1.6rem;
  font-family: NotoSans-Regular;
  color: none;
  align-items: center;
  align-self: end;
  align-content: none;
  display: flex;
  text-decoration: none;
}
.div-img-logotipo {
  width: 48%;
}
.div-img-logotipo img {
  margin: 0;
  width: 10rem;
}

.main-div-user::before {
  content: '';
  display: inline-flex;
  width: 30px;
  height: 30px;
  background-image: url('../../Assets/User_Green.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.div-user-info {
  margin: 1em;
  display: flex;
  flex-direction: column;
}
.span-user {
  text-decoration: underline;
  font-size: 0.8em;
  font-family: NotoSans-Bold;
  margin: 0;
}

.span-employ {
  font-family: NotoSans-Regular;
  color: #474747;
  font-size: 0.8em;
  margin: 0;
}
.main-div-user {
  margin-right: 5em;
  justify-content: flex-end;
  cursor: pointer;
  align-items: center;
  width: 50%;
  display: flex;
  flex-direction: row;
}
.div-sair {
  position: absolute;
  right: 0;
  margin: 2em;
}
.hamburguinho {
  display: none;
}
.div-user-info-panel {
  flex-direction: column;
  align-items: center;
}

.Seta {
  padding-left: 0.5em;
  padding-right: 0.5em;
  transition: 150ms;
  position: relative;
  width: 1em;
}

@media only screen and (max-width: 1024px) {
  .a-sair {
    width: 40%;
  }
  .hamburguinho {
    display: block;
    position: absolute;
    right: 3rem;
  }
  .main-div-user {
    width: 25%;
  }
  .main-div-user::before {
    display: none;
  }
  .div-user-info {
    display: none;
  }
  .div-sair {
    display: none;
  }
}
