.Header {
  background-color: #ffff;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: solid 1px #dcdcdc;
  z-index: 3;
  height: 10vh;
  position: fixed;
}

.Image {
  margin: 1em;
  width: 100%;
}
.Header img {
  margin: auto 1rem;
}
