header {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  background-color: #ffff;
  height: 12vh;
  border-bottom: solid 1px #dcdcdc;
  z-index: 1;
}

.Image {
  margin: 1em;
  width: 100%;
}
.Header img {
  margin: auto 1rem;
}
