header {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100vw;
  background-color: #ffff;
  height: 12vh;
  border-bottom: solid 1px #dcdcdc;
  z-index: 1;
}

p {
  margin: 0;
}
.logo {
  float: left;
  margin: 1.6em;
  width: 25vh;
}
