.main-div-menu {
  animation: opacityAnimeSup forwards 300ms;
  z-index: 10;
  position: absolute;
  flex-direction: column;
  display: flex;
  width: 95vw;
  top: 10vh;
  background-color: #f5f5f5;
  box-shadow: 5px 5px 10px #999999;
  border-radius: 10px;
  margin-left: 2.5vw;
  height: 30vh;
}
.main-h1-menu {
  border-radius: 0px 0px 10px 10px;
  z-index: 11;
  box-shadow: 5px 5px 10px #999999;
  background-color: #25b099;
  color: #ffffff;
}
.main-div-dados-menu {
  display: grid;
  width: auto;
  grid-template-columns: 65% 1fr;
  border-radius: 10px;
  height: fill;
}
/* .prestador-div-menu {
  height: fill;
} */
.main-h1-menu h1 {
  font-size: 1.2rem;
  color: #ffffff;
  margin: 1rem auto;
}

.colab-div-menu {
  width: auto;
  height: auto;
  border-radius: 0 0 10px 0;
}

.colab-div-menu ul li {
  margin: 3%;
}

.colab-div-menu,
.colab-div-menu ul li h2,
.colab-div-menu ul li h4 {
  color: #ffff;
  background-color: #25b099;
}

.prestador-div-menu ul li,
.prestador-div-menu ul h2 {
  list-style: none;
  margin: 2% 2% 2% 2%;
  font-size: 1rem;
  font-weight: lighter;
  color: #474747;
}
.prestador-div-menu ul,
.colab-div-menu ul {
  height: fill;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
}

.main-div-menu div li h4 {
  width: 100%;
  font-size: 1rem;
  margin: 3%;
}
.main-div-menu div li h2 {
  width: 100%;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 1%;
}
.img-back {
  position: absolute;
  bottom: 0;
  left: 47%;
  display: flex;
}
.main-div-menu img {
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .main-div-menu {
    animation: opacityAnimeSupMovel forwards 300ms;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .colab-section-user {
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
  }

  .main-div-dados-menu,
  .main-div-dados-menu ul {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .img-back {
    display: none;
  }

  .prestador-div-menu {
    background-color: #f5f5f5;
    height: 60%;
  }
  .colab-div-menu {
    height: 40%;
  }
  .colab-div-menu ul li,
  .prestador-div-menu ul li {
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0.6em auto;
    width: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
  }

  .main-div-menu,
  .main-div-dados-menu,
  .colab-div-menu {
    width: 100%;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
  }
}
