.main-menu {
  display: flex;
  transition: 200ms;
  font-family: NotoSans-Regular;
  height: 100%;
  margin-top: 5vh;
  background-color: #25b099;
  color: #fff;
}

.main-menu ul {
  padding: 0;
  margin-top: 10vh;
  width: stretch;
}

.transiction-menu {
  animation: opacityAnime forwards 200ms;
}
.animation {
  animation-name: iconsAnime;
  animation-duration: 100ms;
  animation-direction: alternate-reverse;
  animation-iteration-count: 3;
}
.div-fale-conosco {
  position: absolute;
  bottom: 15vh;
}

@media only screen and (max-width: 1024px) {
  .main-menu {
    display: none;
  }
  .div-fale-conosco {
    position: relative;
    bottom: 0;
  }
  .hambuguerClick ul {
    width: stretch;
    padding-inline-start: 0px;
  }
  .hambuguerClick {
    display: flex;
    position: absolute;
    transition: 200ms;
    width: 80%;
    font-family: NotoSans-Regular;
    height: 100%;
    margin-top: 10vh;
    background-color: #25b099;
    color: #fff;
    z-index: 98;
  }
}

@media only screen and (min-width: 1024px) {
  .hambuguerClick {
    display: none;
  }
}
