.main-menu {
  transition: 200ms;
  font-family: NotoSans-Regular;
  height: fill;
  margin-top: 5vh;
  background-color: #25b099;
  color: #fff;
}
.main-menu ul {
  padding: 0;
  margin-top: 10vh;
}

.transiction-menu {
  animation: opacityAnime forwards 200ms;
}
.animation {
  animation-name: iconsAnime;
  animation-duration: 100ms;
  animation-direction: alternate-reverse;
  animation-iteration-count: 3;
}

@media only screen and (max-width: 1024px) {
  .main-menu {
    display: none;
  }
}
