.li-img-seta {
  transition: 200ms;
}

.li-section-usuarios a {
  z-index: -5;
  padding-left: 1.6em;
  padding-top: 1em;

}
.li-section-usuarios {
  height: 0;
  opacity: 0;
  font-size: 1rem;
  position: relative;
  background-color: #017663;
  width: 100%;
  transition: 200ms;
  z-index: 3;
  flex-direction: column;
  justify-content: center;
}

.main-menu a {
  margin-left: 1.6em;
  font-family: NotoSans-Regular;
  display: flex;
  flex-direction: row;
  color: #ffff;
  text-decoration: none;
  align-items: center;
  z-index: -99;
}
/* .main-menu a:hover {
  opacity: 80%;
} */

.main-menu {
  font-family: NotoSans-Regular;
  height: 79.9vh;
  margin-top: 10vh;
  background-color: #25b099;
  color: #fff;
}
.main-menu img {
  margin: auto 1em;
}

.main-menu li {
  cursor: pointer;
  margin: 3%;
  list-style-type: none;
  margin-top: 8%;
  height: 2em;
  z-index: 10;
}

.main-menu ul {
  padding: 0;
  margin-top: 10vh;
}

.animation {
  animation-name: iconsAnime;
  animation-duration: 100ms;
  animation-direction: alternate-reverse;
  animation-iteration-count: 3;
  opacity: 70%;
}


@keyframes iconsAnime {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}

@media only screen and (max-width: 1024px) {
  .main-menu {
    display: none;
  }
}
