.main-menu {
  font-family: NotoSans-Regular;
  height: 84.9vh;
  margin-top: 5vh;
  background-color: #25b099;
  color: #fff;
}
.main-menu ul {
  padding: 0;
  margin-top: 10vh;
}

.animation {
  animation-name: iconsAnime;
  animation-duration: 100ms;
  animation-direction: alternate-reverse;
  animation-iteration-count: 3;
}

@keyframes iconsAnime {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}

@media only screen and (max-width: 1024px) {
  .main-menu {
    display: none;
  }
}
