.main-div-menu {
  animation: opacityAnimeSup forwards 300ms;
  z-index: 10;
  position: absolute;
  flex-direction: column;
  display: flex;
  width: 95vw;
  top: 10vh;
  background-color: #f5f5f5;
  box-shadow: 5px 5px 10px #999999;
  border-radius: 10px;
  margin-left: 2.5vw;
}
.main-h1-menu {
  border-radius: 0px 0px 10px 10px;
  z-index: 11;
  box-shadow: 5px 5px 10px #999999;
  background-color: #25b099;
  color: #ffffff;
}
.main-div-dados-menu {
  display: grid;
  grid-template-columns: 65% 1fr;
  border-radius: 10px;
  height: -webkit-fill-available;
}
/* .prestador-div-menu {
  height: fill;
} */
.main-h1-menu h1 {
  font-size: 1.2rem;
  color: #ffffff;
  margin: 1rem auto;
}

.colab-div-menu {
  height: auto;
  border-radius: 0 0 10px 0;
}

.colab-div-menu,
.colab-div-menu li h2,
.colab-div-menu li h4 {
  color: #ffff;
  background-color: #25b099;
}
.colab-div-menu li,
.colab-div-menu h1,
.prestador-div-menu li,
.prestador-div-menu h1 {
  list-style: none;
  margin: 2% 2% 2% 2%;
  font-size: 1rem;
  font-weight: lighter;
  color: #474747;
}
.prestador-div-menu ul,
.colab-div-menu ul {
  height: stretch;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.main-div-menu div li h4 {
  width: 100%;
  font-size: 1rem;
  margin: 3%;
}
.main-div-menu div li h2 {
  width: 100%;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 1%;
}
.img-back {
  position: absolute;
  bottom: 0;
  left: 47%;
  display: flex;
}
.main-div-menu img {
  cursor: pointer;
}
.colab-section-profile {
  display: flex;
  align-items: center;
  right: 5vw;
  position: absolute;
  text-decoration: underline;
}
.colab-section-profile img {
  margin-right: 1em;
}
