.main-conta {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
}
.div-context {
  overflow-y: auto;
  width: 100%;
  max-height: 89.9vh;
}

@media only screen and (max-width: 1024px) {
  .main-conta {
    grid-template-columns: 0% 100%;
  }
}
@media only screen and (max-width: 1400px) {
  .main-conta {
    grid-template-columns: 20% 80%;
  }
}
