.main-conta {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 1fr;
  transition: 150ms;
}
.div-context {
  overflow-y: auto;
  max-height: 89.9vh;
}

@media only screen and (min-width: 0px) and (max-width: 1024px) {
  .main-conta {
    grid-template-columns: 0% 100%;
  }
  .div-context {
    max-height: 100vh;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1140px) {
  .main-conta {
    grid-template-columns: 25% 75%;
  }
  .div-context {
    max-height: 100vh;
  }
}

@media only screen and (min-width: 1140px) and (max-width: 1700px) {
  .main-conta {
    grid-template-columns: 22% 78%;
  }
  .div-context {
    max-height: 100vh;
  }
}
