.div-main-home {
  padding: 3em;
  position: relative;
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.div-main-home img {
  align-self: center;
  width: 45%;
}
.div-main-home p {
  margin: 1em;
  font-family: NotoSans-Regular;
  color: #474747;
  text-align: center;
}


.div-main-home {
  animation-name: pageview;
  animation-duration:400ms;
  
}

@keyframes pageview {

  from{opacity: 15%; transform: translate3d(-150px, 0, 0);  }
  to{opacity:  100%;   transform: translate3d(0px, 0, 0); }

}


@media only screen and (min-width: 0px) and (max-width: 1024px) {
  .div-main-home {
    height: 100vh;
  }
  .div-main-home img {
    width: 90%;
    margin-top: 2em;
  }
}