.main-login {
  font-family: NotoSans-Regular;
  display: flex;
  flex-direction: row;
  column-gap: 5%;
  height: 100vh;
  overflow-x: hidden;
}

.image-login-div {
  display: flex;
  height: 100%;
  width: 50%;
}
.image-login-div img {
  width: 90%;
}

.login {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-right: 10%;
}
.titles {
  text-align: left;
  margin: 1rem auto;
  margin: 1em;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.button-div {
  display: flex;
  flex-direction: row;
}
.links-menu {
  font-size: 1em;
  cursor: pointer;
  text-decoration: underline;
  margin: 1em;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 90%;
}
@media only screen and (max-width: 900px) {
  .main-login {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    column-gap: none;
  }
  .login {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .titles {
    align-items: center;
    text-align: center;
  }
  .image-login-div {
    width: 50%;
  }
  .input {
    width: 100%;
  }
  form {
    width: 90%;
    align-self: center;
  }
  .links-menu {
    display: flex;
    flex-direction: column;
  }
}
