.Login-Image {
  width: 100%;
}
.Main-login {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
img {
  max-width: 100vh;
}

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}
.titles {
  text-align: left;
  margin: 1rem auto;
  margin-bottom: 3rem;
}
