.div-main-login {
    font-family: NotoSans-Regular;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 10vh;
    min-height: 80vh;
}

.div-form-login {
    transition: 0.4s;
    width: 70%;
    justify-self: center;
    z-index: 0;
    background-color: white;
}

.div-img-login {
    justify-content: center;
    z-index: -1;
    display: flex;
    width: 100%;
    align-self: center;
}

.div-img-login img {
    display: flex;
    position: relative;
}

.div-img-login a {
    opacity: 0;
}

.div-titles-login {
    text-align: left;
}

.div-links-login {
    font-size: 1em;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 5% auto;
    justify-content: space-between;
}

.div-button-login {
    margin: 4% auto;
}

.div-button-login-user {
    margin: 4% auto;
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-content: center;
    align-items: center;
}

.div-switch-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div-switch-login img {
    width: 100%;
}

.div-switch-login a {
    padding: 0;
    width: 11%;
    height: 100%;
    align-self: flex-end;
}

@media only screen and (max-width: 1024px) {

    .div-img-login img {
        display: flex;
        position: relative;
        width: 60%;
        margin: 0 auto;
    }
    .div-main-login {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: auto;
        margin-top: 10vh;
    }
    .div-form-login {
        width: 90%;
    }
}

@media only screen and (min-width:1600px){

    .div-switch-login img {
        width: 68%;
    }
    

}