.main-login {
  font-family: NotoSans-Regular;
  display: flex;
  flex-direction: row;
  column-gap: 5%;
  height: 79.9vh;
  margin-top: 10vh;
}
.image-login-div {
  z-index: -1;
  display: flex;
  width: 60%;
  align-self: flex-end;
}
.login {
  margin: auto 5%;
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  z-index: 0;
}
.image-login-div img {
  padding-left: 10%;
  position: relative;
  width: 80%;
}
.titles {
  text-align: left;
  margin: 1rem auto;
  margin: 1em;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.button-div {
  padding-left: 7px;
  width: 90%;
  display: flex;
  flex-direction: row;
}
.links-menu {
  font-size: 1em;
  cursor: pointer;
  text-decoration: underline;
  margin: 0.8em auto;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 95%;
}
@media only screen and (max-width: 1024px) {
  .main-login {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    column-gap: none;
    height: auto;
  }
  .login {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .titles {
    align-items: center;
    text-align: center;
  }
  .image-login-div {
    align-self: center;
    width: 50%;
  }
  .image-login-div img {
    width: auto;
    position: relative;
    bottom: 0;
  }
  .input {
    width: 100%;
  }
  form {
    width: 90%;
    align-self: center;
  }
  .links-menu {
    font-size: 1em;
    display: flex;
    flex-direction: row;
  }
}
