.Main-login {
  font-family: NotoSans-Regular;
  display: flex;
  flex-direction: row;
  column-gap: 10%;
}

.Image-login-div {
  display: flex;
  height: 100%;
  width: 50%;
}
.Image-login-div img {
  width: 100%;
}

.Login {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.titles {
  text-align: left;
  margin: 1rem auto;
  margin: 1em;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.button-div {
  display: flex;
  flex-direction: row;
}
.links-menu {
  font-size: 1em;
  cursor: pointer;
  text-decoration: underline;
  margin: 1em;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 90%;
}
@media only screen and (max-width: 900px) {
  .Main-login {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .Login {
    width: 100%;
  }
  .Image-login-div {
    width: 50%;
  }
  .input {
    width: 100%;
  }
}
