.main-login {
  font-family: NotoSans-Regular;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  min-height: 100vh;
  margin-top: 10vh;
  animation-name: pageview;
  animation-duration: 400ms;
}

.login {
  width: 80%;
  justify-content: center;
  z-index: 0;
  background-color: white;
}
.image-login-div {
  z-index: -1;
  display: flex;
  width: 100%;
  align-self: center;
}
.image-login-div img {
  position: relative;
  width: 100%;
}
.titles {
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.links-menu {
  font-size: 1em;
  cursor: pointer;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 5% auto;
}
.button-div {
  margin: 5% auto;
}

@media only screen and (max-width: 1024px) {
  .main-login {
    display: flex;
    width: 100%;
    align-items: center;
    height: auto;
    margin-top: 10vh;
  }
  .login {
    width: 80%;
  }
}
