.div-main-primeiro-acesso {
  padding: 3em;
  position: relative;
  margin-top: 8vh;
  display: flex;
  flex-direction: row;
  height: auto;
  animation-name: pageview;
  animation-duration: 400ms;
}

.div-form-primeiro-acesso {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.div-img-primeiro-acesso {
  width: 50%;
}
.img-primeiro-acesso {
  bottom: 0;
  position: absolute;
  width: 40%;
  z-index: -1;
}
.form-primeiro-acesso {
  align-self: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin: 1em;
  width: 50%;
}

.button-form-primeiro-acesso {
  width: 100%;
}
.button-form-primeiro-acesso button {
  z-index: 99;
  margin: 0;
  margin-top: 3%;
}

@media only screen and (max-width: 1024px) {
  .div-img-primeiro-acesso {
    display: none;
  }
  .img-primeiro-acesso {
    display: none;
  }
  .form-primeiro-acesso {
    width: 100%;
  }
  .div-form-primeiro-acesso {
    width: 100%;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1700px) {
  .div-img-primeiro-acesso {
    width: 50%;
  }
  .img-primeiro-acesso {
    width: 50%;
  }
  .form-primeiro-acesso {
    width: 50%;
  }
  .div-form-primeiro-acesso {
    width: 50%;
  }
}
