.div-main-recuperar-senha {
  font-family: NotoSans-Regular;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 10vh;
  height: 80vh;
  width: 100%;
  align-items: center;
}
.div-form-recuperar-senha {
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
}
.div-form-recuperar-senha form {
  width: 70%;
  height: auto;
}

.div-img-recuperar-senha {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.div-img-recuperar-senha img {
  width: 75%;
  align-self: center;
}
.div-button-recuperar-senha {
  display: flex;
  flex-direction: row;
  margin: 5% auto;
  justify-content: space-between;
}

.div-img-recuperar-senha a {
  color: white;
}

@media only screen and (max-width: 1024px) {
  .div-main-recuperar-senha {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .div-form-recuperar-senha {
    width: 100%;
    align-items: center;
  }

  .div-button-recuperar-senha a {
    justify-content: flex-end;
  }
  .div-form-recuperar-senha form {
    width: 80%;
  }
  .div-main-recuperar-senha h1 {
    width: 100%;
    margin: 1em auto;
  }
  .div-button-recuperar-senha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
