.form{
    display: grid;
    gap: 10px;
}

.form label[class~="NAME-FIELD-CLASS"] {
    grid-area: 1/1/1/3;
}
 .form label[class~="CPF-FIELD-CLASS"] {
    grid-area: 1/3/1/4;
}
.form label[class~="EMAIL-FIELD-CLASS"] {
    grid-area: 2/1/2/3;
}
.form label[class~="CONFIRMPASSWORD-FIELD-CLASS"] {
    grid-area: 2/3/2/4;
}

@media only screen and (max-width:1024px){
    .form{
        display: flex;
        flex-direction: column;
    }
}