.div-main-user-mananger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    background-color: rgba(0, 0, 0, 0.329);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.div-sub-user-mananger {
    position: relative;
    background-color: #f1f1f1;
    border-radius: 10px;
    width: 60%;
    padding: 1%;
    box-shadow: 5px 5px 10px #999999;
}

.div-sub-user-mananger-confirm {
    position: fixed;
    top: 30vh;
    display: flex;
    background-color:white;
    border-radius: 10px;
    width: 50%;
    box-shadow: 5px 5px 10px #999999;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-content: center;
    justify-content: center;
    align-items: center;
}

.div-sub-user-mananger-delete {
    position: relative;
    background-color: #f1f1f1;
    border-radius: 10px;
    width: 40%;
    padding: 1%;
    box-shadow: 5px 5px 10px #999999;
    color: #414141;
}
.div-sub-user-mananger-delete h1 {
    color: #E20000;
}

.div-sub-user-mananger input {
    height: 40px;
}

.div-sub-functions-user-mananger span {
    background-color: #e3e3e3;
}

.div-sub-form-user-mananger-button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.div-sub-form-user-mananger-button button {
    margin: 10px;
}

.div-sub-functions-user-mananger {
    display: flex;
    flex-direction: row;
    margin: 2%;
}

.div-table-delete-user {
    display: flex;
    width: 96%;
    justify-content: inherit;
}

.table-delete-user {
    color: #414141;
    width: 75%;
}

.table-delete-user th {
    color: #414141;
}

.div-button-delete-user button {
    margin: 5%;
}

.div-button-delete-user {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width:1024px) {
    .div-sub-user-mananger {
        display: flex;
        flex-direction: column;
    }
    .div-sub-functions-user-mananger {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        margin: 5% auto;
    }
    .div-sub-user-mananger-delete {
        margin-top: 25%;
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .div-table-delete-user {
        display: flex;
        width: 96%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }
    .table-delete-user {
        display: inline-table;
        margin: 3%;
        width: 100%;
    }
    .div-sub-user-mananger-delete h1 {
        color: #E20000;
        padding: 5%;
        margin: 5%;
    }
    .div-sub-user-mananger-confirm {
        position: fixed;
        top: 25vh;
        width: 90%;
    }
}