.div-main-user-mananger {
    position: absolute;
    display: flex;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 8%;
    opacity: 1;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.div-sub-user-mananger {
    position: relative;
    background-color: #f1f1f1;
    border-radius: 10px;
    width: 100%;
    padding: 3%;
    box-shadow: 5px 5px 10px #999999;
}

.div-sub-user-mananger input {
    height: 45px;
}

.div-sub-functions-user-mananger span {
    background-color: #e3e3e3;
}

.div-sub-form-user-mananger-button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.div-sub-functions-user-mananger {
    display: flex;
    flex-direction: row;
    margin: 3% auto;
}
