.div-main-faleConosco {
  font-family: NotoSans-Regular;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  width: 100%;
  overflow-x: hidden;
}

.map-open {
  display: flex;
  width: 80vw;
  height: 70vh;
  align-items: center;
  margin: 3%;
}

@media only screen and (max-width:1024px){
  .map-open {
    display: flex;
    width: 100vw;
    height: 40vh;
    align-items: center;
    margin: 3%;
  }
  
}

.popup{


  
}

.div-sub-contact  {
  padding: 0;
  width: 95%;
  margin: 0 auto;
}
.div-sub-contact h1 {
  padding: 0;
  color: #25b099;
 
}
.div-sub-contact div {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
  align-items: center;

 
}
.div-sub-contact h3, h4 {
margin: 2% ;
 }
 .div-sub-contact-mapin{
   width: 300px;
   box-shadow: 5px 5px 5px grey;
   border-radius: 10px;
   background-color: white;
   justify-content: center;
   z-index: 9999;
   margin: 1%;
 }