.div-main-faleConosco {
  font-family: NotoSans-Regular;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  width: 100%;
  overflow-x: hidden;
}

.map-open {
  display: flex;
  width: 100vw;
  height: 65vh;
  align-items: center;
  margin: 3%;
}
/* @media only screen and (min-width:1025px) and (max-width:1600px){
  .map-open {
    display: flex;
    width: 73vw;
    height: 65vh;
    align-items: center;
    margin: 3%;
  }

}

@media only screen and (max-width:1024px){
  .map-open {
    display: flex;
    width: 100vw;
    height: 40vh;
    align-items: center;
    margin: 3%;
    border-radius: 15px;
  }  
} */

.div-mapin{
  border-radius: 15px;
}

.div-sub-contact  {
  padding: 0;
  width: 95%;
  margin: 0 auto;
}
.div-sub-contact h1 {
  padding: 0;
  color: #25b099;
  font-size: 1.6em;
 
}
.div-sub-contact div {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
  align-items: center;

 
}

 .div-sub-contact-mapin{
   width: 300px;
   box-shadow: 5px 5px 5px grey;
   border-radius: 10px;
   background-color: white;
   justify-content: center;
   z-index: 9999;
   margin: 1%;
 }

 .tel-list{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 20px;
 }
 
 .tel-list section{
  display: flex;
 flex-direction: column;
 justify-items: center;
}

 .tel-list section li {
opacity: 1;
display: flex;
flex-direction: row;
 }
 
 .tel-list section li::before {
  transform: rotate(90deg);
  display: flex;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url('../../../../Assets/Telefone.svg');
  background-repeat: no-repeat; 
  margin: 15px;
  
   }

 .tel-list  section h3 {
  display: flex;
  width: 100%;
  cursor: pointer;
 }
/* 

 .tel-list section h3::before{
  transform: rotate(90deg);
  display: flex;
  flex-direction: column;
  content: "";
  width: 30px;
  height: 30px;
  background-image: url('../../../../Assets/Seta_Verde.svg');
  background-repeat: no-repeat; 
 }
 
 .tel-list section h3:hover::before{
   transition: 200ms;
  transform: rotate(180deg);

 } */

 /* .tel-list section h3:hover + li{
  display: block;
  opacity: 1;
  transition: 200ms;
  }
  */