.div-main-faleConosco {
  font-family: NotoSans-Regular;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  width: 100%;
  overflow-x: hidden;
}

.map-box {
  display: flex;
  margin-top: 3%;
  justify-content: center;
}

.div-sub-contact {
  padding: 0;
  width: 95%;
  margin: 0 auto;
}

.div-sub-contact h1 {
  margin: 3%;
  padding: 0;
  color: #25b099;
  font-size: 1.6em;
}

.div-sub-contact div {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: flex-start;
  align-items: center;
}

.div-sub-contact-mapin {
  width: 300px;
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;
  background-color: white;
  justify-content: center;
  z-index: 9999;
  margin: 1%;
}

.tel-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.tel-list li {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.tel-list p {
  padding-top: 10px;
}

.tel-list li {
  opacity: 1;
  display: flex;
  flex-direction: column;
  color: #474747;
  font-size: 1em;
}

.tel-list p::before {
  transform: rotate(90deg);
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url('../../../../Assets/Telefone.svg');
  background-repeat: no-repeat;
  transform: rotate(-90deg);
  opacity: 0.5;
  margin-right: 2%;
}

.tel-list h3 {
  display: flex;
  width: 100%;
  /* cursor: pointer; */
  color: #474747;
  font-size: 1.1em;
  margin: 1% auto;
}

.div-sub-ans {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin: 3%;
}

.div-sub-ans img {
  width: 15%;
}

.div-sub-contact-email {
  display: flex;
  flex-direction: row;
}

.div-end {
  width: 100%;
  margin: 3%;
}