.functionalities-module {
  width: 220px;
  height: 220px;
  border-radius: 10px;
  z-index: 9999;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 25px;
  color: #474747;
  font-weight: bolder;
  background-color: #ebebeb;
  font-size: 1.1rem;
}

.functionalities-module:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  transition: 200ms;
  color: #ffffff;
  font-weight: bolder;
  background-color: #38C6AE;
  font-size: 1.1rem;
}

.functionalities-module img {
  width: 100px;
}

.animation {
  animation: iconsAnime;
  animation-duration: 200ms;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
}

