.div-main-menu-superior {
  font-family: NotoSans-Regular;
  position: fixed;
  z-index: 11;
  display: flex;
  width: 95vw;
  top: 10vh;
  height: 35vh;
  background-color: #f5f5f5;
  box-shadow: 5px 5px 10px #999999;
  border-radius: 0px 0px 10px 10px;
  transition: 200ms;
  left: 2.5vw;
}

/* DEACTIVED MENU  - start*/

.div-main-menu-superior-deactived {
  position: absolute;
  width: 95vw;
  left: 2.5vw;
  top: 0vh;
  opacity: 0%;
  height: 0%;
  z-index: -99;
  cursor: none;
  transition: 200ms;
}

/* DEACTIVED MENU - end*/

.div-main-dados-menu-superior {
  display: grid;
  width: 100%;
  grid-template-columns: 65% 1fr;
  grid-template-rows: 1fr 75% 1fr;
  height: auto;
}

.div-menu-superior-title {
  display: flex;
  z-index: 11;
  box-shadow: 5px 5px 10px #999999;
  background-color: #25b099;
  color: #ffffff;
  width: 100%;
  height: 100%;
  grid-area: 1/1/1/3;
  justify-content: center;
}

.div-prestador-menu-superior {
  display: flex;
  grid-area: 2/1/4/2;
  color:#414141;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.div-colaborador-menu-superior {
  color: #ffff;
  display: flex;
  grid-area: 2/2/4/3;
  border-radius: 0px 0px 10px 0px;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #25b099;
}

.div-button-back-menu-superior {
  display: flex;
  position: absolute;
  grid-area: 3/1/3/2;
  cursor: pointer;
  margin: 0 auto;
  bottom: 0;
  padding: 0;
  right: 45%;
}

.div-user-menu-superior a {
  text-decoration: underline;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.span-buttons-close {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .div-main-menu-superior {
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    position: absolute;
    transition: 0.5s;
    z-index: 999;
    height: max-content;
    left: 0;
    height: auto;
    text-align: center;
  }
  .div-main-dados-menu-superior {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .div-prestador-menu-superior {
    display: flex;
    flex-direction: column;
  }
  .div-colaborador-menu-superior {
    display: flex;
    flex-direction: column;
  }
  .div-button-back-menu-superior {
    display: none;
  }
  .div-menu-superior-title {
    display: flex;
    flex-direction: column;
    border-radius: 0;
  }
  .span-buttons-close {
    display: flex;
    align-self: center;
    align-content: center;
    align-items: center;
    margin-bottom: 3%;
  }
  .span-buttons-close button {
    margin: 3%;
  }
}