.div-main-gerenciarUsuarios {
  font-family: NotoSans-Regular;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  width: 100%;
}

.table-list-users-mananger div {
  cursor: pointer;
  text-decoration: underline;
}

.table-list-users-mananger {
  margin: 0% auto;
  width: 95%;
  margin: 3% auto;
}

.table-list-users-mananger td, th {
  border: 1px solid #e1e1e1;
  padding: 8px;
  color: #414141;
  font-size: 0.9em;
  display: table-cell;
  vertical-align: middle;
  text-align: start;
}

.table-list-users-mananger tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-td-edit {
  cursor: pointer;
}

.table-td-edit p {
  color: #be7b0e;
}

.table-td-delete {
  cursor: pointer;
  text-decoration-line: underline;
}

.table-td-delete p {
  color: #be7b0e
}

.active-tag {
  display: flex;
  background-color: #25b099;
  text-align-last: center;
}

.active-tag h1 {
  margin: 0 auto;
  color: #ffff;
  font-size: 0.9em;
}

.inative-tag {
  display: flex;
  background-color: #FDAB15;
  text-align-last: center;
}

.inative-tag h1 {
  font-size: 0.9em;
  margin: 0 auto;
  color: #ffff;
}

.div-add-new-user-mananger-users {
  cursor: pointer;
  display: flex;
  margin-left: auto;
  margin-right: 5%;
  margin-top: 0.1%;
  background-color: #25b099;
  width: 25%;
  height: 60px;
  border-radius: 10px;
  color: #ffff;
  align-items: center;
  justify-content: center;
}

.div-add-new-user-mananger-users img {
  margin: 3%;
}

.div-add-new-user-mananger-users:hover {
  transition: 200ms;
  box-shadow: 5px 5px 10px #999999;
  border: 2px solid #38C6AE;
  height: 56px;
}

th:nth-child(1), td:nth-child(1) {
  width: 20%;
}

th:nth-child(5), td:nth-child(5) {
  width: 20%;
}

.trash-img {
  display: flex;
  margin: 0 auto;
  width: 35px;
}

/* 
.trash-img:hover {
  content: '';
  display: block;
  width: 45px;
  height: 45px;
  background-image: url('../../../../Assets/Caution.gif');
  background-size: contain;
} */

.tool-img {
  display: flex;
  margin: 0 auto;
  width: 35px;
}

.div-sub-nobody h1 {
  color: #25b099;
  font-size: 1.6em;
  width: 100%;
}

.div-sub-nobody p {
  color: #414141;
  font-size: 1.3em;
  width: 100%;
}

.div-sub-nobody img {
  width: 100px;
}

.div-sub-nobody {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin-top: 10%;
}

.h1-pagination{
  width: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  color: #e1e1e1;
  border: solid white 1px;
  background-color: #25b099;
  border-radius: 5px;
}
.h1-pagination:hover{

width: 30px;
transition: 200ms;
box-shadow: 3px 3px 3px 0px #9b9090;
}

.div-pagination{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.div-search{
  width: 40%;
  margin: 0 auto;
}
.div-search input{
 height: 40px;
}


@media only screen and (max-width:1024px) {
  .table-list-users-mananger {
    display: initial;
    flex-direction: column;
    width: 96%;
  }
  .div-add-new-user-mananger-users {
    width: 96%;
    margin: 3% auto;
  }
  th:nth-child(3), td:nth-child(3), th:nth-child(4), td:nth-child(4), th:nth-child(5), td:nth-child(5) {
    display: none;
  }
  th:nth-child(1), td:nth-child(1) {
    width: 100%;
  }
}