.App {
  width: auto;
  height: auto;
  overflow: hidden;
  font-family: NotoSans-Bold;
  position: relative;
}
.header-app {
  position: relative;
}
p {
  font-family: NotoSans-Regular;
  color: #474747;
}
