html {
  /* animation-name: pageview; */
  animation-duration: 400ms;
  font-family: NotoSans-Regular;
}
.App {
  width: 100%;
  min-height: 90vh;
  overflow: hidden;
  position: relative;
}
.div-title-pages {
  position: relative;
  margin-top: 5%;
  margin-left: 3%;
}
.erro {
  position: absolute;
  color: red;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 1300px) {
  .div-title-pages {
    margin-left: 5%;
    margin-top: 10%;
  }
}
@media only screen and (max-width: 1024px) {
  .div-title-pages {
    margin-left: 8%;
    margin-top: 10%;
  }
}
@media only screen and (max-width: 600px) {
  .div-title-pages {
    margin-left: 8%;
    margin-top: 15%;
  }
}

p {
  color: #474747;
}
h1,
h2,
h3 {
  font-family: NotoSans-Bold;
  font-size: 1rem;
}
h4 {
  font-weight: lighter;
  font-family: NotoSans-Regular;
}
a {
  color: unset;
  align-items: center;
  align-self: center;
  align-content: center;
  display: flex;
  text-decoration: unset;
}

li {
  list-style: none;
}
label {
  color: unset;
  text-decoration: unset;
  font-size: 1rem;
}

/* @keyframes opacityAnime {
  from {
    height: 50%;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}
@keyframes opacityAnimeSup {
  from {
    height: 0vh;
  }
  to {
    opacity: 1;
    height: 35vh;
  }
}
@keyframes opacityAnimeSupMovel {
  from {
    height: 0vh;
  }
  to {
    opacity: 1;
    height: 100vh;
  }
} */
@keyframes iconsAnime {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}
.menuViewDrop {
  opacity: 0;
  transform: translateY(-30px);
  animation: menuViewTo 0.3s forwards;
}
.menuView {
  opacity: 0;
  transform: translateY(30px);
  animation: menuViewTo 0.3s forwards;
}
.pageView {
  opacity: 0;
  animation: pageviewTo 0.4s forwards;
  transform: translateX(-150px);
}
@keyframes menuViewTo {
  to {
    opacity: 1;
    transform: initial;
  }
}
@keyframes pageviewTo {
  to {
    opacity: 1;
    transform: initial;
  }
}
