html {
  /* animation-name: pageview; */
  animation-duration: 400ms;
  font-family: NotoSans-Regular;
}
.App {
  transition: 185ms;
  width: auto;
  height: auto;
  overflow: hidden;
  position: relative;
}
.header-app {
  position: relative;
}
p {
  color: #474747;
  margin: 0;
}
h1,
h2,
h3 {
  font-family: NotoSans-Bold;
  font-size: 1rem;
}
h4 {
  font-weight: lighter;
  font-family: NotoSans-Regular;
}
a {
  color: unset;
  align-items: center;
  align-self: center;
  align-content: center;
  display: flex;
  text-decoration: unset;
}
label {
  color: unset;
  text-decoration: unset;
  font-size: 1rem;
}

button {
  margin: 1rem auto;
}
@keyframes opacityAnime {
  from {
    opacity: 0;
    height: 50%;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}
@keyframes opacityAnimeSup {
  from {
    opacity: 0;
    height: 0vh;
  }
  to {
    opacity: 1;
    height: 35vh;
  }
}
@keyframes opacityAnimeSupMovel {
  from {
    opacity: 0;
    height: 0vh;
  }
  to {
    opacity: 1;
    height: 100vh;
  }
}
@keyframes iconsAnime {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}

@keyframes pageview {
  from {
    opacity: 15%;
    transform: translate3d(-150px, 0, 0);
  }
  to {
    opacity: 100%;
    transform: translate3d(0px, 0, 0);
  }
}
.active h4 {
  text-decoration: underline;
}
li {
  list-style-type: none;
}
