body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'NotoSans-Bold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace, 'NotoSans-Regular', 'NotoSans-Bold';
}

@font-face {
  font-family: 'NotoSans-Regular';
  src: local('NotoSans'), url('./fonts/NotoSans-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'NotoSans-Bold';
  src: local('NotoSans'), url('./fonts/NotoSans-Bold.ttf') format('truetype');
  font-weight: bold;
}
@keyframes opacityAnime {
  from {
    opacity: 0;
    height: 50%;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}
@keyframes opacityAnimeSup {
  from {
    opacity: 0;
    height: 0vh;
  }
  to {
    opacity: 1;
    height: 30vh;
  }
}
@keyframes iconsAnime {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}

@keyframes pageview {
  from {
    opacity: 15%;
    transform: translate3d(-150px, 0, 0);
  }
  to {
    opacity: 100%;
    transform: translate3d(0px, 0, 0);
  }
}
