body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'NotoSans-Bold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace, 'NotoSans-Regular', 'NotoSans-Bold';
}

@font-face {
  font-family: 'NotoSans-Regular';
  src: local('NotoSans'), url('./fonts/NotoSans-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'NotoSans-Bold';
  src: local('NotoSans'), url('./fonts/NotoSans-Bold.ttf') format('truetype');
  font-weight: bold;
}
.active {
  text-decoration: underline;
}
li {
  list-style-type: none;
}
