.div-main-error {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 10%;
}
.div-main-error button {
  margin-top: 1%;
}

.img-error {
  display: flex;
  flex-direction: row;
  width: 10%;
  align-self: center;
}
