button {
  font-family: NotoSans-Regular;
  width: 8em;
  height: 2.5em;
  border-radius: 10px;
  border: none;
  background-color: #25b099;
  font-size: 2.4vh;
  color: #ffff;
  margin: 3%;
}

button:hover {
  cursor: pointer;
  outline: none;
  border-color: #25b099;
  box-shadow: 0 0 0 5px #3bc3a7;
  transition: 200ms;
}
