.input-div {
  color: #474747;
  font-size: 1em;
  font-family: NotoSans-Regular;
}
.p-input {
  right: 5vw;
  color: red;
  position: absolute;
}

input:hover,
input:focus {
  outline: none;
  border-color: #25b099;
  background: #fff;
  box-shadow: 0 0 0 3px #3bc3a7;
  transition: 200ms;
}

input {
  text-indent: 3%;
  font-family: NotoSans-Regular;
  border: none;
  height: 3rem;
  font-size: 1em;
  border-radius: 8px;
  background-color: #ebebeb;
  margin-top: 1em;
  color: #474747;
}
div {
  display: flex;
  flex-direction: column;
}
label {
  margin-top: 1em;
  text-align: left;
}
