.li-item-menu a {
  margin-left: 1em;
  font-family: NotoSans-Regular;
  display: flex;
  flex-direction: row;
  color: #ffff;
  text-decoration: none;
  align-items: center;
}
/* .li-item-menu a:hover {
  opacity: 70%;
} */
.li-item-menu img {
  margin: auto 1em;
}
.li-item-menu {
  margin-top: 1.6em;
}
.img-item-menu-seta {
  transition: 150ms;
}
