.add-user-sub {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-self: center;
  background-color: #017663;
  position: relative;
  width: stretch;
  align-items: center;
  transition: 3.5s;
}

.add-user-sub img {
  width: 1em;
}
.add-user-sub img {
  margin-left: 4em;
}
.add-user-sub span:active {
  background-color: green;
  opacity: 80%;
}

.selected {
  background-color: #38c6ae;
}
