.text-decorated {
  font-family: NotoSans-Bold;
  color: #474747;
  font-size: 4.3vh;
  margin-bottom: 5%;
  z-index: 1;

  position: relative;
}
.text-decorated::after {
  content: '';
  display: block;
  width: 0.8em;
  height: 0.8em;
  border-radius: 5px;
  background-color: #25b099;
  margin-top: -1.2em;
  margin-left: -0.5em;
  z-index: -2;
}
