.button-shared {
  font-family: NotoSans-Regular;
  width: 135px;
  height: 45px;
  border-radius: 10px;
  border: none;
  background-color: #25b099;
  font-size: 1em;
  color: #ffff;
  cursor: pointer;
  margin: 0;
}

.button-shared:hover {
  outline: none;
  border-color: #25b099;
  box-shadow: 0 0 0 3px #3bc3a7;
  transition: 200ms;
}
.button-limpar:hover {
  border-color: #FDAB15 !important;
  box-shadow: 0 0 0 3px #FDBA15 !important;
}
