.info-img{
    position: absolute;
    width: 18px;
    transform: translateX(100px);
  }
  .info-check{
    position: relative;
    width: 18px;
    margin-left: 5% ;
   
  }
  .info-img:hover~.info-label , 
  .info-check:hover~.info-label{
    z-index: 9999;
    display: block;
    z-index: 1;
  }
  .info-label{
    z-index: 99999 !important;
    align-items: center;
    justify-content: space-evenly;
    color: #c1c1c1;
    font-size: 0.9em;
    background-color: #474747;
    position: absolute;
    max-width: 180px;
    height: max-content;
    border-radius: 10px 10px 10px 0px;
    transform: translateY(-95px);
  
    display: none; /*Alterar*/
  }
  .info-label h5{
  margin: 5% ;
  }

@media only screen and (max-width:1024px) {
    .info-label{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: #c1c1c1;
      font-size: 1em;
      background-color: #474747;
      position: absolute;
      max-width: 180px;
      height: max-content;
      border-radius: 10px 10px 10px 0px;
      transform: translateY(-95px);
      margin-left: 120px;
      z-index: -999;
      display: none;
    }
  }