.info-img{
    position: absolute;
    width: 22px;
    transform: translateX(100px);
  }
  .info-check{
    position: absolute;
    width: 22px;
    transform: translateY(-25px) translateX(200px);
  }
  .info-img:hover~.info-label , 
  .info-check:hover~.info-label{
    display: block;
    z-index: 1;
  }
  .info-label{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #c1c1c1;
    font-size: 0.9em;
    background-color: #474747;
    position: absolute;
    max-width: 180px;
    height: max-content;
    border-radius: 10px 10px 10px 0px;
    transform: translateY(-95px);
    z-index: -9999;
    display: none;
  }
  .info-label h5{
  margin: 5% ;
  }

@media only screen and (max-width:1024px) {
    .info-label{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: #c1c1c1;
      font-size: 1em;
      background-color: #474747;
      position: absolute;
      opacity: 0;
      max-width: 180px;
      height: max-content;
      border-radius: 10px 10px 10px 0px;
      transform: translateY(-95px);
      margin-left: 120px;
      z-index: -999;
    }
  }