
.input-div {
  color: #474747;
  font-size: 1em;
  font-family: NotoSans-Regular;
  width: 100%;
  margin: 0 auto;
}

.p-error-null {
  position: absolute;
  z-index: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.error-input {
  padding: 1%;
  font-size: 13px;
  position: absolute;
  transition: 300ms;
  color: #ffff;
  background-color: #E20000;
  border-radius: 10px 10px 10px 0px;
  box-shadow: 10px 10px 10px 0px #E1E1E1;
  width: 400px;
  height: auto;
  z-index: 99;
} 


.input:hover, .input:focus {
  outline: none;
  border-color: #25b099;
  background: #fff;
  box-shadow: 0 0 0 3px #3bc3a7;
  transition: 200ms;
}

.input {
  text-indent: 3%;
  font-family: NotoSans-Regular;
  border: none;
  height: 3rem;
  font-size: 1em;
  border-radius: 8px;
  background-color: #ebebeb;
  margin-top: 1em;
  color: #474747;
  width: 100%;
  padding: 0;
}

.input-div {
  display: flex;
  flex-direction: column;
}

.input-div {
  margin-top: 1em;
  text-align: left;
}

.inputClick {
  background-color: #38C6AE;
}

@media only screen and (max-width:1024px) {
  .error-input   {
    position: absolute;
    right: 0%;
    width: 80%;
    z-index: 99;
    transform: translate(0px , -60px);
  }
  .input-img {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 15%;
    width: 25px
  }
}

@media only screen and (min-width:1280px) {
  .error-input {
    width: 300px;
    margin: 0 auto;
    transform: translate(0px , -80px);
  }
}