.div-main-load {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 999999999;
}

.div-sub-load {
    width: 300px;
    height: 200px;
    background-color: #f1f1f1;
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 5px 5px 10px grey;
    z-index: 999;
    text-align: center;
}

.input-img-load {
    width: 60px;
}

@media only screen and (max-width:1380px) {
    .div-main-load {
        height: 100%;
        width: 80%;
    }
}

@media only screen and (max-width:1024px) {
    .div-main-load {
        height: 100%;
        width: 100%;
    }
}