.main-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.329);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999999;
}


.div-main-successfull {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4%;
    transition: 300ms;
    background-color: #f1f1f1;
    box-shadow: 5px 5px 10px #999999;
    z-index: 99999999;
    border-radius: 15px;
    flex-direction: column;
    animation: animateInitial .8s forwards;

}

@keyframes animateInitial {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.div-titles-successfull {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.div-close-modal {
    display: flex;
    position: absolute;
    border: 0.2px solid;
    justify-content: center;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    right: 0;
    top: 0;
    font-size: 1.2em;
    background-color: #f20000;
    color: white;
    cursor: pointer;
    box-shadow: 0px 2px 5px 0px #414141;
}

.div-main-successfull h1 {
    font-size: 1.2em;
    line-height: 1.2em;

}