.add-user-sub {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-self: center;
  background-color: #017663;
  position: relative;
  width: 100%;
  align-items: stretch;
  height: 3em;
}

.add-user-sub h4 {
  font-size: 0.8em;
}

.add-user-sub img {
  width: 1em;
}

.add-user-sub img {
  margin-left: 1.7em;
}

.selected {
  background-color: #38c6ae;
}