.div-main-successfull-deactived {
    position: fixed;
    width: 30vw;
    height: 40vh;
    z-index: -1;
    left: 45%;
    top: 35%;
    border-radius: 15px;
    opacity: 0;
    transition: 100ms;
}

.div-main-successfull-deactived h1 {
    font-size: 1.6em;
}

.div-main-successfull {
    transition: 300ms;
    position: fixed;
    width: 80vw;
    height: 60vh;
    background-color: #f1f1f1;
    box-shadow: 5px 5px 10px #999999;
    z-index: 99999999;
    left: 10%;
    top: 15%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.div-titles-successfull {
    margin-top: 8%;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.div-button-successfull {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5% auto;
}

.div-button-successfull button {
    margin: 1%;
}

.div-main-successfull h1 {
    font-size: 1.6em;
    line-height: 1.4em;
    
}



@media only screen and (min-width:1700px) {
    .div-main-successfull h1 {
        font-size: 1.3em;
    }
    .div-main-successfull {
        width: 40vw;
        height: 40vh;
        left: 28%;
        top: 35%;
    }
    .div-titles-successfull {
        margin-top: 12%;
    }
}

@media only screen and (max-width:1024px) {
    .div-main-successfull h1 {
        font-size: 1.3em;
    }
    .div-titles-successfull {
        margin-top: 10%;
    }
    .div-main-successfull {
        width: 80vw;
        height: 60vh;
        left: 10%;
        top: 35%;
    }
    .div-button-successfull {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}

@media only screen and (max-width:400px) {
    .div-main-successfull h1 {
        font-size: 1.3em;
    }
    .div-titles-successfull {
        margin-top: 15%;
    }
    .div-main-successfull {
        width: 80vw;
        height: 60vh;
        left: 5%;
        top: 15%;
        padding: 5%;
    }
}

@media only screen and (min-width:400px ) and (max-width:600px){
    .div-main-successfull h1 {
        font-size: 1.3em;
    }
    .div-titles-successfull {
        margin-top: 30%;
    }
    .div-main-successfull {
        width: 80vw;
        height: 60vh;
        left: 5%;
        top: 15%;
        padding: 5%;
    }
}
